* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(imgs/canadarm.jpg);

  image-rendering: -moz-crisp-edges;

  background-size: cover;
  background-position: center;
}

.banner h3 {
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #0659ffb6;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 40px;
}

.content p {
  width: 650px;
  height: auto;
  text-align: left;
  float: left;
  font-size: 20px;
  padding-left: 20px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 350px;
  width: 750px;
}

.container h1 {
  align-items: center;
}
img {
  height: 400px;
  width: auto;
  border-radius: 25px;
  vertical-align: middle;
  float: left;
  padding-right: 20px;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(imgs/canadarm.jpg);

  image-rendering: -moz-crisp-edges;

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about h3 {
  text-align: left;
  font-size: 35px;
  padding-bottom: 10px;
}
.about h4 {
  text-align: left;
  font-size: 25px;
  padding-bottom: 10px;
}

.about p {
  color: white;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  padding-bottom: 15px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 950px;
  height: auto;
}

/* Project Cards */

.projects {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(imgs/earathrise.jpg);
  background-size: cover;
  background-position: center;
}

.subtitle {
  color: white;
  padding: 30px;
  font-size: 40px;
  padding-left: 75px;
}

.projects-list {
  display: grid;
  grid-template-columns: 445px 445px 445px;
  margin: 75px;
  grid-gap: 30px;
  margin-top: 50px;
  color: white;
}

.projects-list div {
  background: #262626;
  padding: 25px;
  font-weight: 100;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.projects-list img {
  display: block;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  border-radius: 0px;
}

.projects div h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.projects div p {
  margin-bottom: 10px;
}

.projects div a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.projects-list div:hover {
  background: #365a8d;
  transform: translateY(-10px);
}

.projects-list button {
  background-color: #f87c1e;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 1000;
}

.projects-list button:hover {
  scale: 1.15;
}

/* Sparcc Page style */

.sparcc-banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(imgs/sparcc.jpg);

  image-rendering: -moz-crisp-edges;

  background-size: cover;
  background-position: center;
}

.sparcc-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sparcc-main h1 {
  color: white;
}

/* Neural Networks Page style */

.neural-banner {
  width: 100%;
  height: 8vh;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(imgs/sparcc.jpg);

  image-rendering: -moz-crisp-edges;*/
  background-color: rgba(47, 67, 50, 0.863);

  background-size: cover;
  background-position: center;
}

.blog-content {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  justify-content: center;
  text-align: left;
  color: rgb(0, 0, 0);
}

.blog-content code {
  border-radius: 20px;
}

.blog-content img {
  padding-top: 25px;
  padding-bottom: 25px;
}

.blog-content h2 {
  padding-bottom: 5px;
  padding-top: 10px;
}

.blog-content h3 {
  padding-top: 10px;
  padding-bottom: 5px;
}

.blog-content p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.blog-content pre {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
